@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-break: break-word;
  transition: all 0.2s ease-in-out;
}

:root {
  /*
      6 - bg, color of words
      3 - small part of bg
      1 - btn, important txt
  */
  --black:#000814; /**/
  --blue1:#001d3d;
  --blue2:#003566;
  --yellow1:#ffc300;
  --yellow2:#ffd60a;

  --heading_1: 40px;
  --heading_2: 30px;
  --words: 16px;

  --border-radius: 10px;
}

body{
  background-color: var(--blue1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (prefers-reduced-motion:reduce) {
  .mask {
      transition: none
  }
}
.vt_con h1, .vt_con p{
  color: white;
}
.important_text{
  color: var(--yellow1);
  font-weight: 900;
}



.vt_landing_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vt_circle {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.vt_circle::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 530px;
  height: 530px;
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  background-color: var(--blue1);
  animation: wave1 5s linear infinite;
  opacity: 0.9;
  z-index: -1;
}

.vt_circle::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 530px;
  height: 530px;
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  background: linear-gradient(135deg, var(--yellow1) 10%, var(--yellow2) 100%);
  animation: wave2 5s linear infinite;
  opacity: 0.7;
  z-index: -1;
}




@keyframes wave1 {
  20% {
      border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }

  40% {
      border-radius: 45% 55% 49% 81% / 36% 51% 49% 64%;
  }

  60% {
      border-radius: 80% 40% 57% 43% / 87% 62% 38% 53%;
  }

  80% {
      border-radius: 80% 40% 32% 68% / 88% 36% 64% 62%;
  }
}

@keyframes wave2 {
  20% {
      border-radius: 80% 40% 32% 68% / 88% 36% 64% 62%;
  }

  40% {
      border-radius: 80% 40% 57% 43% / 87% 62% 38% 53%;
  }

  60% {
      border-radius: 45% 55% 49% 81% / 36% 51% 49% 64%;
  }

  80% {
      border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
}





model-viewer{
  width: 40%;
  height: 600px;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%, 100%{
      transform: translateY(-60px);
  }
  50%{
      transform: translateY(60px);
  }
}

model-viewer {
  width: 100%;
  height: 500px;
  animation: upDown 10s linear infinite;
}

.vt_con2{
  background-color: var(--yellow1);
}

.card:hover{
  transform: scale(0.9);
}

#section3 label,#section3 h1{
  color: white;
}

@media screen and (max-width: 600px) {

  .vt_circle {
    width: 100%;
    height: 100%;
  }
  
  
  .vt_circle::after {
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
  }
  
  .vt_circle::before {
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
  }
}